﻿@{
    Layout = null;
}
@model DACSWebBanFlower.Models.RegisterModels.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- CSS đang được import -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../LayoutAdmin/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo align-items-center d-flex justify-content-center">
                                <img src="../../LayoutAdmin/assets/images/LogoTeam.png" style="width: 200px; height: 100%;padding: 0;" alt="Team Alone">
                            </div>
                            <h4>Hello! Let's get started</h4>
                            <h6 class="font-weight-light">Create an account.</h6>
                            @using (Html.BeginForm("Register", "Access", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Id, new { @class = "form-control form-control-lg", placeholder = "Id", required = "required", autofocus = "autofocus" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-control-lg", type = "password", placeholder = "Password", required = "required" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.TenKhachHang, new { @class = "form-control form-control-lg", placeholder = "Full Name", required = "required" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.SoDienThoai, new { @class = "form-control form-control-lg", placeholder = "Phone Number" })
                                </div>

                                <div class="mt-3">
                                    <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Register</button>
                                </div>

                                <div class="text-center mt-4 font-weight-light">
                                    Already have an account? <a href="@Url.Action("Login", "Access")" class="text-primary">Sign in</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="../../LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="../../LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="../../LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>
