﻿@using DACSWebBanFlower.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Danh Mục Sản Phẩm</h1>
<style>

    /* Định nghĩa font chữ cho tiêu đề */
    h1 {
        font-family: "Arial", sans-serif; /* Sử dụng font Arial hoặc font sans-serif nếu Arial không có sẵn */
        color: #333; /* Màu chữ */
        text-align: center; /* Canh giữa tiêu đề */
        transition: text-shadow 0.3s ease; /* Hiệu ứng chuyển đổi text-shadow trong 0.3s */
    }

        /* Hiệu ứng khi hover */
        h1:hover {
            text-shadow: 0 0 20px blue, /* Thêm bóng đổ phát sáng với màu cam */
            0 0 30px blue, /* Các giá trị đầu tiên là ngang và dọc, thứ ba là mức độ phát sáng */
            0 0 40px blue, 0 0 50px blue;
        }
</style>
<p>
    <a asp-action="ThemSanPham" class="btn btn-success">Thêm Mới Sản Phẩm</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Mã Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>           
            <th>
                Giá Nhỏ Nhất
            </th>
            <th>
                Giá Lớn Nhất
            </th>
            <th>
                Tùy Chỉnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary" ;           
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            <td>
                <a asp-action="SuaSanPham" asp-route-maSanPham="@item.Id" class="btn btn-info">Edit</a> |
                <a asp-action="XoaSanPham" asp-route-maSanPham="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(
        Model,
        page => Url.Action("DanhMucSanPham",
        new
        {
            page = page
        }
        ),
        new PagedListRenderOptions()
    {
            LiElementClasses = new List<String> { "page-item" },
            PageClasses = new List<String> { "page-link" }
        })
