﻿<!-- Code cho trang index admin -->
<h1>Welcome to Admin Dashboard</h1>
<a asp-action="ActivityLog">Activity Log</a> <!-- Liên kết đến trang activity log -->
<button onclick="location.href='@Url.Action("SignOut", "Admin")'">Sign Out</button> <!-- Nút sign out -->
