﻿@model ShoppingCart
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            text-align: center;
            color: #343a40;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }

        th {
            background-color: #007bff;
            color: white;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-danger {
            background-color: #dc3545;
            color: white;
        }

        .btn-success {
            background-color: #28a745;
            color: white;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .alert {
            margin-top: 20px;
            padding: 15px;
            border-radius: 5px;
            color: #0c5460;
            background-color: #d1ecf1;
            border: 1px solid #bee5eb;
        }

        .alert-heading {
            margin-top: 0;
        }

        .text-center {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    </head>
    <body>
    <div class="container mt-5">
        <h2 class="mb-4">Thông tin mua sắm</h2>

        @if (Model.Items.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sản Phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số Lượng</th>
                        <th scope="col">Tổng giá</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.TenSp</td>
                            <td>@item.Price</td>
                            <td>
                                <form asp-controller="Store" asp-action="UpdateCartItem" method="post">
                                    <input type="hidden" name="id" value="@item.MaSp" />
                                    <input type="number" name="SoLuong" id="SoLuong_@item.MaSp" value="@item.SoLuong" min="1" class="form-control" style="width: 80px;" />
                                    <button class="btn btn-primary btn-sm mt-2" type="submit">Update</button>
                                </form>
                            </td>

                            <td>@(item.Price * item.SoLuong)</td>
                            <td>
                                <form asp-action="RemoveFromCart" method="post">
                                    <input type="hidden" name="id" value="@item.MaSp" />
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            <form asp-action="ClearAll" method="post">
                <button type="submit" class="btn btn-danger">Clear All</button>
            </form>


            <div class="text-center">
                <a class="btn btn-info btn-lg mr-3" asp-area="" asp-controller="Home" asp-action="Index">Tiếp tục mua sắm</a>
                <a class="btn btn-success btn-lg" asp-area="" asp-controller="Store" asp-action="ThanhToan">Thanh Toán</a>
            </div>
        }
        else
        {
            <div class="alert alert-info text-center" role="alert">
                <h4 class="alert-heading">Giỏ hàng của bạn đang trống.</h4>
                <hr>
                <p class="mb-0">Bạn chưa thêm bất kỳ sản phẩm nào vào giỏ hàng.</p>
                <button onclick="window.location.href='@Url.Action("Index", "Home")'" class="btn btn-primary mt-3">Bắt đầu mua sắm ngay!</button>
            </div>
        }

    </div>

    <div class="item active">
        <div class="col-sm-12">
            <h1 style="text-align: center;">Chào mừng đến với cửa hàng của chúng tôi!</h1>
            <img src="https://static.vecteezy.com/system/resources/previews/000/702/086/original/shopping-online-on-website-vector.jpg" width="100%" />
        </div>
    </div>
    </body>
</html>