﻿@model THoaDonBan
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhập thông tin đặt hàng</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Nhập thông tin đặt hàng</h1>
        <form asp-action="ThanhToan" method="post">
            <div class="form-group">
                <label asp-for="DiaChiDatHang">Địa chỉ giao hàng</label>
                <input asp-for="DiaChiDatHang" class="form-control" id="DiaChiDatHang">
            </div>
            <div class="form-group">
                <label asp-for="GhiChu">Ghi chú</label>
                <textarea asp-for="GhiChu" class="form-control" id="GhiChu"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Đặt hàng</button>
            <a class="btn btn-info btn-lg mr-2" asp-area="" asp-controller="Home" asp-action="Index">Trở về</a>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
