﻿@{
    ViewData["Title"] = "Home Page";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@foreach(var item in Model)
{
    @await Html.PartialAsync("PartialSanPham",item)
}
@Html.PagedListPager(
            Model,
            page => Url.Action("Index",
            new
            {
                page = page
            }
            ),
            new PagedListRenderOptions()
        {
            LiElementClasses = new List<String> { "page-item" },
            PageClasses = new List<String> { "page-link" }
        })
